@model List<ResultCouponDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kupon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kupon Listesi</h5>

                        <div class="card-sub">
                            Kupon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kupon Kodu</th>
                                    <th scope="col">İndirim Oranı</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Aktif / Pasif</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.CouponCode</td>
                                        <td>@item.Amount</td>
                                        <td> <span class="@(item.Status ? "badge bg-success" : "badge bg-secondary")">@(item.Status ? "Aktif" : "Pasif")</span></td>
                                        <td> <a href="/Coupon/ChangeStatus/@item.CouponID" class="@(item.Status ? "btn btn-outline-secondary" : "btn btn-outline-success")">@(item.Status ? "Pasif Yap" : "Aktif Yap")</a></td>
                                        <td><a href="/Coupon/DeleteCoupon/@item.CouponID" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Coupon/UpdateCoupon/@item.CouponID" class="btn btn-outline-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Coupon/CreateCoupon/" class="btn btn-primary">Yeni Kupon Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>