@model Tuple<List<ResultNotificationDto>, List<ResultMessageDto>>
@{
    var iconClass = "";
    var nCount = ViewBag.NCount;
    var mCount = ViewBag.MCount;
}


<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/Category/Index/" class="logo d-flex align-items-center">
            <img src="~/NiceAdmin/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Admin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Aranacak Kelime">
            <button type="submit" title="Ara"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number" id="notificationcount">
                        @nCount
                    </span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        <strong id="noticount">@nCount</strong> yeni bildiriminiz var
                        <a href="/Notifications/AllNotificationStatusesChangeToTrue/"><span class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Okundu Olarak İşaretle</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    @foreach (var item in Model.Item1)
                    {
                        @{
                            if (item.IconType == "Sipariş")
                            {
                                iconClass = "ri-menu-add-fill text-warning"; // Yeni Sipariş
                            }
                            else if (item.IconType == "Yorum")
                            {
                                iconClass = "bi bi-chat-left-text text-success"; // Yeni Yorum
                            }
                            else if (item.IconType == "Rezervasyon")
                            {
                                iconClass = "bx bx-support text-primary"; // Yeni Rezervasyon
                            }
                        }
                        <li class="notification-item">
                            <i class="@iconClass"></i>
                            <div>
                                <p>@item.Description</p>
                                <p>@item.Date</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    }

                    <li class="dropdown-footer">
                        <a href="/Notifications/Index/">Tüm bildirimleri görüntüle</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number" id="messagecount">
                        @mCount
                    </span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        <strong id="messcount">@mCount</strong> yeni mesajınız var
                        <a href="/Message/AllMessageStatusesChangeToTrue/"><span class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Okundu Olarak İşaretle</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @foreach (var item in Model.Item2)
                    {
                        <li class="message-item">
                            <a href="javascript:void(0)">
                                <img src="/images/message_profile.png" alt="" class="rounded-circle">
                                <div>
                                    <h4>@item.NameSurname</h4>
                                    <p>@item.Subject</p>
                                    <p>@item.MessageSendDate</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    }
                    <li class="dropdown-footer">
                        <a href="/Message/Index/">Tüm mesajları görüntüle</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/images/user_profile.png" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@Context.Session.GetString("Name")</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@Context.Session.GetString("Name") @Context.Session.GetString("Surname")</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Setting/Index/">
                            <i class="bi bi-gear"></i>
                            <span>Hesap Ayarları</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Register/Index/">
                            <i class="bi bi-question-circle"></i>
                            <span>Yeni Kullanıcı Ekle</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Login/LogOut/">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Çıkış Yap</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
