@model List<ResultOrderWithMenuTableNameDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sipariş İşlemleri İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sipariş Listesi</h5>

                        <div class="card-sub clearfix">
                            Sipariş ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Masa Adı</th>
                                    <th scope="col">Sipariş Tarihi</th>
                                    <th scope="col">Son Fiyat</th>
                                    <th scope="col">Hesap Durumu</th>
                                    <th scope="col">Hesabı Kapat</th>
                                    <th scope="col">Sipariş Detayı</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.MenuTableName}</td>
                                        <td>@item.OrderDate</td>
                                        <td>@item.FinalPrice₺</td>
                                        <td> <span class="@(item.Status ? " badge bg-success" : "badge bg-secondary")">@(item.Status ? "Hesap Açık" : "Hesap Kapatıldı")</span></td>
                                        <td><a href="/Order/CloseAccount/@item.OrderID?menuTableId=@item.MenuTableID&price=@item.FinalPrice" class="@(item.Status ? "btn btn-outline-primary" : "btn btn-outline-primary disabled")">Hesabı Kapat</a></td>
                                        <td><a href="/OrderDetail/GetOrderDetail/@item.OrderID" class="btn btn-outline-warning">Sipariş Detayı</a></td>
                                        <td><a href="/Order/DeleteOrder/@item.OrderID" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


